<section id="expand" class="expansion">
<i class="material-icons close xclose" onclick="toggleexpander(0)"> </i>
<div class="message">
<i class="material-icons error red"> </i>
You must be logged in, to access this page. 
<a class="btn" href="/login"> Login </a>
Don't have an account? 
<a class="btn" href="/signup"> Signup </a>
</div>
</section>