<section class="form_wrapper">
    <form class="form_container login" method="post">
        <span id="username"> </span>
        <input name="username" type="text" placeholder="Email/Username">
        <span id="password"> </span>
        <input name="password" type="password" placeholder="Password">
        <button class="btn" onclick="submitform(event,'.login','post','/login')">
            Login </button>
    </form>
</section>