<nav class="mhide navigator">
        <. for(var i in cat){ .>
                <a href="/products/<.=cat[i].name .>">
                        <.=cat[i].name .>
                </a>
                <. } .>
</nav>