<section class="profile">
    <form class="pass_change" method="post">
        Change Password
        <input name="password" type="text" placeholder="Old Password">
        <input name="password" type="text" placeholder=" New Password">
        <input name="cfpassword" type="text" placeholder="Confirm Password">
        <button class="btn" onclick="submitf(event,'.pass_change','put','/user/password')"> Change </button>
    </form>
</section>