<!doctype html>
<html>

<head>
    <.- include partials/head.ejs .>
</head>

<body>
    <.-include partials/nav-phone.ejs {cat:cat, user:user}.>
        <header>

            <.-include partials/header.ejs .>
        </header>
        <main>
            <.-include partials/nav-pc.ejs , {cat:cat} .>
                <section class="main">
                            <.-include partials/recovery.ejs , {status:status,key:key} .>
                </section>
        </main>
        <div class="seprator">Blue Groceries</div>
        <footer>
        <.- include partials/footer.ejs .>
        </footer>
</body>

</html>