<!doctype html>
<html>
<head>
<.-include partials/head.ejs.>
</head>

<body>
    <.-include partials/nav-phone.ejs {user:user, cat:cat,cart:cart}.>
    <header>
    <.-include partials/header.ejs {user:user,cart:cart} .>
    </header>
    <main>
    <.-include partials/nav-pc.ejs , {user:user} .>
        <section class="main">
        <.-include partials/p-detail.ejs , {prod:prod} .>
        </section>
    </main>
    <div class="seprator">Blue Groceries</div>
    <footer>
    <.- include partials/footer.ejs .>
    </footer>
</body>

</html>